<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.androidtown.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/version01"
        android:label="BORAM"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.androidtown.boram.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.androidtown.boram.MainActivity" />
        <activity android:name="org.androidtown.boram.SignupActivity" />
        <activity
            android:name="org.androidtown.boram.MainPageActivity"
            android:label="@string/title_activity_main_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.androidtown.boram.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="org.androidtown.boram.TimelineActivity"
            android:label="@string/title_activity_timeline"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.androidtown.boram.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.androidtown.boram.CheckActivity"
            android:label="@string/title_activity_check"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.androidtown.boram.ModifyInfoActivity"
            android:label="@string/title_activity_modify_info"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="org.androidtown.boram.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="org.androidtown.boram.MyFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="org.androidtown.boram.LoadImageActivity"
            android:label="@string/title_activity_load_image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.androidtown.boram.cardTimeActivity"
            android:label="@string/title_activity_card_time"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.androidtown.boram.HistoryActivity"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="org.androidtown.boram.CheckPWActivity"
            android:label="@string/title_activity_check_pw"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name="org.androidtown.boram.SendFeedbackActivity"></activity>

    </application>

</manifest>